					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.required.fields")</h3>
						<div class="dashboard-item-content">
							<table id="required-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table">
								<tbody>
								#foreach ($field in $requiredFields)
									#if($field.fieldName.equals($FIELD_NAME_ASSIGNEE))
									<tr>
										<td width="40%">$i18n.getText("device.label.assignee")</td>
										<td width="60%"><input name="$field.fieldName" value="$loggedUser.name" type="hidden"/>$loggedUser.displayName</td>
									</tr>
									#elseif($field.active)
									<tr>
										<td width="40%">$field.fieldName</td>
										<td width="60%"><input name="$field.fieldName" type="text" value="#foreach($filledField in $filledFields)#if($filledField.fieldName.equals($field.fieldName))$filledField.fieldValue#end#end"/></td>
									</tr>
									#end
									
								#end
								</tbody>
							</table>
						</div>
					</div>
					<br/>
					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.optinial.fields")</h3>
						<div class="dashboard-item-content">
							<table id="optional-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table percent-table-column">
								<tbody>
								#foreach ($field in $optionalFields)
						    		#foreach ($filledField in $filledFields)
						    			#if($filledField.fieldName.equals($field.fieldName))
						    		<tr id="$trId">
						    			<td>$filledField.fieldName</td>
						    			<td>
						    				<input name="$field.fieldName" type="text" value="$filledField.fieldValue" />
						    				<a class="ui-icon icon-trash pull-rigth" onclick="deleteRow('key_$idNumber', '$field.fieldName')" title="$i18n.getText("icon.remove")"></a>
						    			</td>
						    		</tr>
						    			#end		    		
						    		#end
						    	#end
								</tbody>
							</table>
						</div>
					</div>
					<br/>
					<div style="padding: 0px 0px 20px 0px">
						<script type='text/javascript'>
							#parse("js/optionalField.js")
						</script>
						<div style="float: left">
							<div id="dd" class="dropdown-menu" tabindex="1" style="padding-bottom: 20px">
							    <span class="btn">$i18n.getText('new.asset.button.add.more.fields')</span>
							    <ul id="dropdown-list" class="dropdown">
							    	#foreach ($field in $showableOptinalFields)
							    		#if($field.active)
							    	<li id="key_$field.id"><a onclick="addRow('key_$field.id', '$field.fieldName')">$field.fieldName</a></li>
							    		#end
							    	#end
							    </ul>
							</div>
						</div>
						<div style="float: right">
							<input id="submit"  type="submit" name="submit_add" value="$i18n.getText('new.asset.button.add')" class="btn"/>
						</div>
					</div>
					<br/>
					<div style="clear: both">
					</div>