					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.asset")</h3>
						<div style="padding: 10px 10px 10px 10px;">
							<div class="gadget-container">
								<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.required.fields")</h3>
								<div class="dashboard-item-content">
									<table id="required-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table">
										<thead>
											<tr>
												<th width="40%">$i18n.getText("table.field.name")</th>
												<th width="60%" >$i18n.getText("table.field.value")</th>
											</tr>
										</thead>
										<tbody>
										#foreach ($field in $requiredFields)
											#if($asset.assetDetails.fields.get($field.fieldName))
												#if($field.fieldName.equals($FIELD_NAME_ASSIGNEE))
											<tr>
												<td>$i18n.getText("device.label.assignee")</td>
												<td>$asset.assignee.displayName
													<input name="$field.fieldName" type="hidden" value="$asset.assignee.name"/>
												</td>
											</tr>
												#else
											<tr>
											#set($fieldValue = "$asset.assetDetails.fields.get($field.fieldName)")
											#foreach($filledField in $filledFields)
												#if($filledField.fieldName.equals($field.fieldName))
													#set($fieldValue = "$filledField.fieldValue")
												#end
											#end
												<td>$field.fieldName</td>
												<td>
													<input name="$field.fieldName" type="text" value="$fieldValue"/>
												</td>
											</tr>
												#end
											#elseif($field.active)
											<tr>
												<td>$field.fieldName</td>
												<td>
													<input name="$field.fieldName" type="text"/>
												</td>
											</tr>
											#end
										#end
										</tbody>
									</table>
								</div>
							</div>
							<br/>
							<div class="gadget-container">
								<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.optinial.fields")</h3>
								<div class="dashboard-item-content">
									<table id="optional-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table">
										<thead>
											<tr>
												<th width="40%">$i18n.getText("table.field.name")</th>
												<th width="60%">$i18n.getText("table.field.value")</th>
											</tr>
										</thead>
										<tbody>
											#foreach ($field in $optionalFields)
												#set($fieldValue = "$asset.assetDetails.fields.get($field.fieldName)")
												#foreach($filledField in $filledFields)
													#if($filledField.fieldName.equals($field.fieldName))
														#set($fieldValue = "$filledField.fieldValue")
													#end
												#end
												#if($asset.assetDetails.fields.get($field.fieldName))
											<tr>
												<td>$field.fieldName</td>
												<td>
													<input name="$field.fieldName" type="text" value="$fieldValue"/>
												</td>
											</tr>
												#end
												
												#foreach ($filledField in $filledFields)
									    			#if($filledField.fieldName.equals($field.fieldName) && !$asset.assetDetails.fields.get($field.fieldName))
								    		<tr id="$trId">
								    			<td>$filledField.fieldName</td>
								    			<td>
								    				<input name="$field.fieldName" type="text" value="$filledField.fieldValue" />
								    				<a class="ui-icon icon-trash pull-rigth" onclick="deleteRow('key_$idNumber', '$field.fieldName')" title="$i18n.getText("icon.remove")"></a>
								    			</td>
								    		</tr>
									    			#end		    		
									    		#end
											#end
										</tbody>
									</table>
								</div>
							</div>
							<br/>
							<div style="padding: 0px 0px 20px 0px">
								<script type='text/javascript'>
									#parse("js/optionalField.js")
								</script>
							</div>
						</div>
					</div>
					<br/>
					<div style="float: left">
						<div id="dd" class="dropdown-menu" tabindex="1" style="padding-bottom: 20px">
						    <span class="btn">$i18n.getText('new.asset.button.add.more.fields')</span>
						    <ul id="dropdown-list" class="dropdown">
						    	#foreach ($field in $showableOptinalFields)
						    		#if(!$asset.assetDetails.fields.get($field.fieldName))
						    			#if($field.active)
						    	<li id="key_$field.id"><a onclick="addRow('key_$field.id', '$field.fieldName')">$field.fieldName</a></li>
						    			#end
						    		#end
						    	#end
						    </ul>
						</div>
					</div>
					<input name="issueKey" type="hidden" value="$asset.issueKey"/>
					<a href="$backButtonValue" class="btn pull-rigth">$i18n.getText('new.asset.button.cancel')</a>
					<input type="hidden" name="actionName" value="$buttonActionName">
					<input type="hidden" name="issueKey" value="$issueKey">
					<input type="hidden" name="backPageUrl" value="$backButtonValue">
					<input id="submit"  type="submit" name="submit_edit" value="$i18n.getText('new.asset.button.save')" class="btn pull-rigth">
					<div style="clear: both">
					</div>