					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.asset")</h3>
						<div style="padding: 10px 10px 10px 10px;">
							<div class="gadget-container">
								<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.required.fields")</h3>
								<div class="dashboard-item-content">
									<table id="required-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table">
										<thead>
											<tr>
												<th width="40%">$i18n.getText("table.field.name")</th>
												<th width="60%">$i18n.getText("table.field.value")</th>
											</tr>
										</thead>
										<tbody>
										#foreach ($field in $requiredFields)
											<tr>
											#if($asset.assetDetails.fields.get($field.fieldName))
												#if($field.fieldName.equals($FIELD_NAME_ASSIGNEE))
													<td>$i18n.getText("device.label.assignee")</td>
													<td>$asset.assignee.displayName</td>
												#else
													<td>$field.fieldName</td>
													<td>$asset.assetDetails.fields.get($field.fieldName)</td>
												#end
											#end
											</tr>
										#end
										</tbody>
									</table>
								</div>
							</div>
							<br/>
							<div class="gadget-container">
								<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.optinial.fields")</h3>
								<div class="dashboard-item-content">
									<table id="optional-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table">
										<thead>
											<tr>
												<th width="40%">$i18n.getText("table.field.name")</th>
												<th width="60%">$i18n.getText("table.field.value")</th>
											</tr>
										</thead>
										<tbody>
											#foreach ($field in $optionalFields)
												<tr>
												#if($asset.assetDetails.fields.get($field.fieldName))
													<td>$field.fieldName</td>
													<td>$asset.assetDetails.fields.get($field.fieldName)</td>
												#end
												</tr>
											#end
										</tbody>
									</table>
								</div>
							</div>
							<br/>
						</div>
					</div>
					<br/>
					<div style="paddign: 0px 0px 20px 0px">
							<a href="$backButtonValue" class="btn pull-rigth">$i18n.getText('new.asset.button.back')</a>
					</div>
					<div style="clear:both"></div>
					<br/>