					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("my.assets.title.change")</h3>
						<div class="dashboard-item-content">
							<table cellspacing="0" cellpadding="2" class="basic-content-table">
								<tbody>
									<tr>
										<td>$i18n.getText("device.label.assignee")</td>
										<td><select name="assignee" id="assignee">
												#if($changeActionName.equals($actionAcceptance) || $changeActionName.equals($actionExternalHandover) || $changeActionName.equals($actionDisposeAsset) || $changeActionName.equals($actionReagain))
													<option value="$actualAssignedUser.name">$actualAssignedUser.displayName</option>
												#elseif($changeActionName.equals($actionRejection) || $changeActionName.equals($actionWithdrawal))
													<option value="$previousAssignedUser.name">$previousAssignedUser.displayName</option>
												#else
													#foreach ($assignee in $assignees)
														#if(!$actualAssignedUser.name.equals($assignee.name))
											    		<option value="$assignee.name">$assignee.displayName</option>
											    		#end
											    	#end
												#end
											</select>
										</td>
									</tr>
									<tr>
										<td>$i18n.getText('device.label.comment') (*)</td>
										<td><textarea id="comments" name="comments" rows="4" cols="40"></textarea></td>
									</tr>
									<input type="hidden" name="change" value="true" />
									<input type="hidden" name="issueKey" value="$actualIssueKey"/>
									<input type="hidden" name="actionName" value="$changeActionName"/>
								</tbody>
							</table>
						</div>
						<br/>
					</div>
					<br/>
					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("my.assets.title.change.delivery.information")</h3>
						<div class="dashboard-item-content">
							<table cellspacing="0" cellpadding="2" class="basic-content-table">
								<tbody>
									<tr>
										<td>$i18n.getText("my.assets.change.field.recipient.name")</td>
										<td><input type="text" name="$fieldRecipientName" /></td>
									</tr>
									<tr>
										<td>$i18n.getText("my.assets.change.field.company")</td>
										<td><input type="text" name="$fieldCompany" /></td>
									</tr>
									<tr>
										<td>$i18n.getText("my.assets.change.field.address")</td>
										<td><input type="text" name="$fieldAddress" /></td>
									</tr>
									<tr>
										<td>$i18n.getText("my.assets.change.field.tax.number")</td>
										<td><input type="txt" name="$fieldTaxNumber" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<br/>
					<div style="paddign: 0px 0px 20px 0px">
							<a href="$backButtonValue" class="btn pull-left">$i18n.getText('my.assets.button.back')</a>
							<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa" class="btn pull-rigth">$i18n.getText('my.assets.button.cancel')</a>
							<input id="submit" type="submit" name="submit" value="$i18n.getText('new.asset.button.change')" class="btn pull-rigth"/>
					</div>
					<div style="clear:both"></div>
					<br/>