<style type="text/css">
	#parse("css/main.css")
</style>
	<form action="/secure/JiraAssetsRegisterSearchWebAction.jspa?search=true">
		#parse("templates/includes/plugin_head.vm")
		<div id="assets_registry_content" class="assets_registry_content rounded grid">
			#parse("templates/includes/horizentalMenu.vm")
			<div class="gadget-container">
				<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("search.title.main")</h3>
				<div style="padding: 10px 10px 10px 10px;">
					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("search.title.serach")</h3>
						<div style="padding: 10px 10px 10px 10px;">
							<div class="gadget-container">
								<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("search.title.required.fields")</h3>
								<div class="dashboard-item-content">
									<table id="required-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table percent-table-column">
										<tbody>
											<tr></tr>
											#foreach ($field in $requiredFields)
												<tr>
												#if($field.fieldName.equals($FIELD_NAME_ASSIGNEE))
													<td><label>$i18n.getText("device.label.assignee")<label></td>
													<td>
														<select name="$FIELD_NAME_ASSIGNEE" id="$FIELD_NAME_ASSIGNEE">
															<option value="">$i18n.getText("search.any.assignee")</option>
														#foreach ($assignee in $assignees)
												    		<option value="$assignee.name" #foreach($filledField in $filledFields)#if($filledField.fieldName.equals($FIELD_NAME_ASSIGNEE) && $filledField.fieldValue.equals($assignee.name))selected="selected"#end#end>$assignee.displayName</option>
												    	#end
														</select>
													</td
												#else
													<td><label>$field.fieldName<label></td>
													<td><input type="text" name="$field.fieldName" value="#foreach($filledField in $filledFields)#if($filledField.fieldName.equals($field.fieldName))$filledField.fieldValue#end#end"/></td>
												#end
												</tr>
											#end
											<tr>
												<td><label>$i18n.getText("search.status")<label></td>
												<td>
													<select name="status01">
														<option value="">$i18n.getText("search.any.status")</option>
													#foreach ($status in $statuses)
											    		<option value="$status.statusName" #foreach($filledField in $filledFields)#if($filledField.fieldName.equals("status01") && $filledField.fieldValue.equals($status.statusName))selected="selected"#end#end>$status.statusName</option>
											    	#end
													</select>
												</td
											</tr>
											<tr>
												<td><label>$i18n.getText("search.comment")<label></td>
												<td><input type="text" name="comment01" value="#foreach($filledField in $filledFields)#if($filledField.fieldName.equals("comment01"))$filledField.fieldValue"#end#end"/></td
											</tr>
										<tbody>
									</table>
								</div>
							</div>
							<br/>
							<div class="gadget-container">
								<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("search.title.optinial.fields")</h3>
								<div class="dashboard-item-content">
									<table id="optional-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table percent-table-column">
										<tbody>
											<tr></tr>
											#foreach ($field in $optionalFields)
								    			#foreach ($filledField in $filledFields)
								    				#if($filledField.fieldName.equals($field.fieldName))
								    		<tr id="$trId">
								    			<td>$filledField.fieldName</td>
								    			<td>
								    				<input name="$field.fieldName" type="text" value="$filledField.fieldValue" />
								    				<a class="ui-icon icon-trash pull-rigth" onclick="deleteRow('key_$idNumber', '$field.fieldName')" title="$i18n.getText("icon.remove")"></a>
								    			</td>
								    		</tr>
								    				#end		    		
								    			#end
								    		#end
										<tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<script type='text/javascript'>
						#parse("js/optionalField.js")
					</script>
					<div style="padding: 0px 0px 20px 0px">
						<div style="float: left">
							<div id="dd" class="dropdown-menu" tabindex="1" style="padding-bottom: 20px">
							    <span class="btn">$i18n.getText("search.button.add.more.fields")</span>
							    <ul id="dropdown-list" class="dropdown">
							    	#foreach ($field in $showableOptinalFields)
							    	<li id="key_$field.id"><a onclick="addRow('key_$field.id', '$field.fieldName')">$field.fieldName</a></li>
							    	#end
							    </ul>
							</div>
						</div>
						<div style="float: right">
							 <input id="submit"  type="submit" name="submit_search" value="$i18n.getText('search.button.search')" class="btn">
						</div>
					</div>
					<div style="clear: both">
					</div>
					#if($search)
					<div class="gadget-container">
						<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("search.title.results")</h3>
						<div class="dashboard-item-content">
							#if($searchedAssets.empty)
								<div class="messages-info">
									$i18n.getText("search.no.result")
								</div>
							#else
							<table id="searchResultTable" cellspacing="0" cellpadding="2" class="basic-content-table">
								<thead>
									<tr>
										<th width="100px">$i18n.getText("table.issue.id")</th>
										<th>$i18n.getText("table.device.name")</th>
										<th width="125px">$i18n.getText("table.assignee")</th>
										<th width="125px">$i18n.getText("table.status")</th>
										<th width="175px">$i18n.getText("table.action")</th>
									</tr>
								</thead>
								<tbody>
								#foreach ($asset in $searchedAssets)
									<tr>
										<td><a href="/browse/$asset.issueKey" class="issue-link">$asset.issueKey</a></td>
										<td>$asset.deviceName</td>
										<td><a href="/secure/ViewProfile.jspa?name=$asset.assignee.name" class="issue-link">$asset.assignee.displayName</a></td>
										<td>$asset.status</td>
										<td>
											<a href="#" id="$asset.issueKey" class="ui-icon icon-information" title="$i18n.getText("icon.info")"></a>
										#if($asset.status.equals($statusOpenName) && $asset.loggedUserIsAssignee)
											<a href="/secure/JiraAssetsRegisterAssetDetailsWebAction!default.jspa?actionName=$actionEdtiDetails&issueKey=$asset.issueKey&backPageUrl=$backButtonValue" class="ui-icon icon-edit" title="$i18n.getText("icon.edit")"></a>
											<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa?change=true&issueKey=$asset.issueKey&actionName=$actionInternalHandover&backPageUrl=$backButtonValue" class="ui-icon icon-internal-assignee" title="$i18n.getText("icon.internal.assignee")"></a>
											<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa?change=true&issueKey=$asset.issueKey&actionName=$actionExternalHandover&backPageUrl=$backButtonValue" class="ui-icon icon-external-assignee" title="$i18n.getText("icon.external.assignee")"></a>
											<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa?change=true&issueKey=$asset.issueKey&actionName=$actionDisposeAsset&backPageUrl=$backButtonValue" class="ui-icon icon-culling" title="$i18n.getText("icon.culling")"></a>
										#elseif($asset.status.equals($statusInternalAssignedName) && $asset.loggedUserIsAssignee)
												<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa?change=true&issueKey=$asset.issueKey&actionName=$actionAcceptance&backPageUrl=$backButtonValue" class="ui-icon icon-accept" title="$i18n.getText("icon.accept")"></a>
												<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa?change=true&issueKey=$asset.issueKey&actionName=$actionRejection&backPageUrl=$backButtonValue" class="ui-icon icon-reject" title="$i18n.getText("icon.reject")"></a>
										#elseif($asset.status.equals($statusExternalAssignedName) && $asset.loggedUserIsAssignee) 
												<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa?change=true&issueKey=$asset.issueKey&actionName=$actionReagain&backPageUrl=$backButtonValue" class="ui-icon icon-recover" title="$i18n.getText("icon.recover")"></a>
										#elseif($asset.status.equals($statusInternalAssignedName) && ($asset.loggedUserIsReporter || $asset.loggedUserIsPreviousAssigned))
												<a href="/secure/JiraAssetsRegisterMyAssetsWebAction!default.jspa?change=true&issueKey=$asset.issueKey&actionName=$actionWithdrawal&backPageUrl=$backButtonValue" class="ui-icon icon-reject" title="$i18n.getText("icon.withdraw")"></a>
										#end
										</td>
									</tr>
								#end
								</tbody>
							</table>
							<div stlye="padding: 0px 0px 20px 0px">
								<div id="searchResultPageNavPosition" class="pull-rigth">
									
								</div>
								<div style="clear: both"></div>
							</div>
							#end
						</div>
					</div>
					<br/>
					<script type="text/javascript">
				        var searchResult = new Pager('searchResultTable', 10); 
				        searchResult.init(); 
				        searchResult.showPageNav('searchResult', 'searchResultPageNavPosition'); 
				        searchResult.showPage('searchResult',1);
				        
				        #foreach ($asset in $searchedAssets)
			        		AJS.$("#$asset.issueKey").click(function() {
			        			var dialog = new AJS.Dialog({
								    width: 625, 
								    height: 400, 
								    id: "view-details-dialog", 
								});
								dialog.addHeader("$asset.issueKey - $asset.deviceName");
								dialog.addPanel("SinglePanel", '<div class="gadget-container">'+
							        '<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.asset")</h3>'+
									'<div style="padding: 10px 10px 10px 10px;">'+
										'<div class="gadget-container">'+
											'<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.required.fields")</h3>'+
											'<div class="dashboard-item-content">'+
												'<table id="required-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table">'+
													'<thead>'+
														'<tr>'+
															'<th width="40%">$i18n.getText("table.field.name")</th>'+
															'<th width="60%">$i18n.getText("table.field.value")</th>'+
														'</tr>'+
													'</thead>'+
													'<tbody>'+
													#foreach ($field in $requiredFields)
														'<tr>'+
														#if($asset.assetDetails.fields.get($field.fieldName))
															#if($field.fieldName.equals($FIELD_NAME_ASSIGNEE))
																'<td>$i18n.getText("device.label.assignee")</td>'+
																'<td>$asset.assignee.displayName</td>'+
															#else
																'<td>$field.fieldName</td>'+
																'<td>$asset.assetDetails.fields.get($field.fieldName)</td>'+
															#end
														#end
														'</tr>'+
													#end
													'</tbody>'+
												'</table>'+
											'</div>'+
										'</div>'+
										'<br/>'+
										'<div class="gadget-container">'+
											'<h3 id="gadget-10001-title" class="dashboard-item-title">$i18n.getText("new.asset.title.optinial.fields")</h3>'+
											'<div class="dashboard-item-content">'+
												'<table id="optional-field" cellspacing="0" cellpadding="2" class="fixed-table-two-column center-table colors-table">'+
													'<thead>'+
														'<tr>'+
															'<th width="40%">$i18n.getText("table.field.name")</th>'+
															'<th width="60%">$i18n.getText("table.field.value")</th>'+
														'</tr>'+
													'</thead>'+
													'<tbody>'+
														#foreach ($field in $optionalFields)
															'<tr>'+
															#if($asset.assetDetails.fields.get($field.fieldName))
																'<td>$field.fieldName</td>'+
																'<td>$asset.assetDetails.fields.get($field.fieldName)</td>'+
															#end
															'</tr>'+
														#end
													'</tbody>'+
												'</table>'+
											'</div>'+
										'</div>'+
										'<br/>'+
									'</div>'+
								'</div>'+
								'<br/>', "singlePanel");
								dialog.addButton("OK", function (dialog) {
								    dialog.hide();
								});
								dialog.show();
						    });
				        #end
				        
				        #parse("js/paging.js")
					</script>
					#end
				</div>
			</div>
		</div>
	</form>
