					<form name="field-reguired-managent-operation" method="post" action="JiraAssetsRegisterFieldManagementWebAction.jspa" class="clear-form">
						<div class="gadget-container">
							<h3 id="gadget-10001-title" class="dashboard-item-title">$editFieldName</h3>
							<div class="dashboard-item-content">
								<table id="required-field" cellspacing="0" cellpadding="2" class="basic-search-table">
									<tbody>
											<td>$i18n.getText("table.field.name")</td>
											<td><input type="text" name="newfieldName" value="$editFieldName"/></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<br/>
						<div>
							<a href="$backButtonValue" class="btn pull-left">$i18n.getText('my.assets.button.back')</a>
							<input type="hidden" name="editField" value="true"/>
							<input type="hidden" name="fieldName" value="$editFieldName"/>
							<a href="/secure/JiraAssetsRegisterFieldManagementWebAction!default.jspa" class="btn pull-rigth">$i18n.getText('field.mgmnt.button.cancel')</a>
							<input id="submit"  type="submit" name="submit_save" value="$i18n.getText('field.mgmnt.button.save')" class="btn pull-rigth">
						</div>
						<div style="clear: both">
						</div>
					</form>